ENVIRONMENT=development/production

WHISPER_MODEL=tiny/base/small/medium/large/turbo

DB_USER=
DB_PSSWD=
DB_NAME=
DB_PORT=
DB_HOST=

ADMIN_EMAIL=your admin email
VERIFY=True

APP_HOST=localhost 
APP_PORT=8000

SMTP_SERVER=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FULL_NAME=
SMTP_SERVER_PORT=

EMAIL_SIGNATURE=

FOURSQUARE_API_KEY=
OPENAGENDA_API_KEY=

LLAMA_CPP_API_URL=http://localhost:8080/v1
LLAMA_CPP_THREADS=1