SECRET=app secret key
FLASK_ENV=development/production

LLM_MODEL=gguf model
WHISPER_MODEL=tiny/base/small/medium/large/turbo
N_GPU_LAYERS=n gpu layers of llama model
N_CTX_SIZE=n ctx size for llama model

DB_USER=
DB_PSSWD=
DB_NAME=
DB_PORT=
DB_HOST=

ADMIN_EMAIL=your admin email
VERIFY=True

SMTP_SERVER=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FULL_NAME=
SMTP_SERVER_PORT=

EMAIL_SIGNATURE=
